/* C6 */
:root {
  --navy-blue: rgba(46, 47, 66, 1);
  --iris: rgba(77, 90, 229, 1);
  --white: rgba(255, 255, 255, 1);
  --cloud: rgba(244, 244, 253, 1);
  --slate: rgba(67, 68, 85, 1);
  --cornflower: rgba(231, 233, 252, 1);
  --ocean: rgba(64, 75, 191, 1);
}

.container {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--navy-blue);
  width: 1440px;
  margin: 0 auto;
}

/* Header Styles */
.topline {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

/* Logo Styles */
.logo {
  /* layout */
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;

  /* style */
  font-family: Raleway;
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-left: 156px;
  margin-right: 76px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

/* Styling for "WEB" */
.web {
  color: var(--iris, #4d5ae5);
}

/* styling for "STUDIO" */
.logo a {
  text-decoration: none;
  color: var(--navy-blue);
}

a:hover,
a:focus,
a:active {
  color: var(--iris);
}

/* Menu Navigation Styles */
.menu-nav {
  /* font-family: Roboto; */
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  margin: 24px 332px 24px 0;
}

.menu-nav .tch {
  color: var(--navy-blue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.tch:hover,
.tch:focus,
.tch:active,
.trh:hover,
.trh:focus,
.trh:active {
  color: var(--iris);
}

/* Right Header Styles */
.contacts-nav {
  /* font-family: Roboto; */
  display: inline-flex;
  /* align-items: flex-end; */
  gap: 40px;
  list-style: none;
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  /* line-height: 24px; */
  letter-spacing: 0.32px;
  padding: 0;
  margin: 24px 156px 24px 0px;
}

.contacts-nav .trh {
  text-decoration: none;
  color: var(--slate, #434455);
}

/* hero-image */
.hero-background {
  margin: 0;
  padding: 0;
}
.hero-background {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Vertically center items */
  align-items: center; /* Horizontally center items */
  /* flex-shrink: 0; */
  /* style */
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  /* layout */
  width: 496px;
  margin-top: 0;
  /* style */
  color: var(--white);
  font-size: 56px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  /* justify-content: center; */
}

.btn {
  /* layout */
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  /* styles */
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--ocean);
  color: var(--white);
}

/* section 1 */
.first-section {
  display: flex;
  width: 1128px;
  height: 104px;
  flex-shrink: 0;
  margin: 120px 156px;
  gap: 24px;
}
.feature {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.feature-list {
  list-style: none;
}

h3,
p,
.feature-list {
  margin: 0;
  padding: 0;
}

.feature-title {
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  /* width: 264px; */
}

.feature-body {
  /* Header 3 */
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}

/* section 2 */
.second-section {
  width: 1128px;
  height: 412px;
  flex-shrink: 0;
  margin: 120px 156px;
}

h2 {
  color: var(--navy-blue, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin: 0 0 72px;
}

.service {
  display: flex;
  justify-content: center;
  list-style: none; /* Remove default list styles */
  gap: 24px;
  padding: 0;
  margin: 0;
}
.service li img {
  border: 1px solid var(--cornflower, #e7e9fc);
  /* background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat; */
}

.feature-list li {
  text-align: center;
}

.third-section {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Vertically center items */
  /* style */
  height: 732px;
  flex-shrink: 0;
  background: var(--cloud, #f4f4fd);
}

.team-members {
  display: flex;
  justify-content: center;
  list-style: none; /* Remove default list styles */
  gap: 24px;
  padding: 0;
  margin: 0;
}

.team-card {
  /* layout */
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* style */
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card li img {
  margin: 0;
  padding: 0;
}

.card-content {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 32px 0;
}

.card-content h3 {
  text-align: center;
  /* Header 3 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.card-content h4 {
  color: var(--slate, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin: 0;
  padding: 0;
}

/* footer */
.footer-background {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  /* style */
  background-color: var(--navy-blue);
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  /* Body */
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}

.footer-logo {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.footer-logo:focus,
.footer-logo:active,
.footer-logo:hover {
  color: var(--iris);
}

footer h4 {
  margin: 0;
  padding: 0;
}
.footer-textbox {
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 112px;
  gap: 16px;
  margin: 100px 1020px 100px 156px;
  padding: 0;
}
